# Project 3

### Import libraries

In [48]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

### Import datas

In [49]:
df_france_raw=pd.read_excel('bilan_energetique_france_2021_series_longues.xlsx')
df_france_raw.head()

,CODTOT,LIBSERIE,ENERGIE,UNITE,NIVGEO,TYPDONNEE,TYPFLUX,1960,1961,1962,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,1,Émissions de CO2 liées à la combustion de gaz ...,Gaz naturel,Mt CO2,France,CVC,Émissions de CO2,NaN,NaN,NaN,...,87.757072,85.232506,81.855934,84.247151,87.557903,90.291881,88.127688,89.564487,87.611500,84.72256
1,2,Émissions de CO2 liées à la combustion de char...,Charbon,Mt CO2,France,CVC,Émissions de CO2,NaN,NaN,NaN,...,48.245163,49.674574,39.795378,36.617784,34.595881,38.312262,35.461367,28.541002,21.200875,26.484931
2,3,Émissions de CO2 liées à la combustion de déch...,EnR et déchets,Mt CO2,France,CVC,Émissions de CO2,NaN,NaN,NaN,...,6.474628,6.645731,6.827392,6.758252,7.039328,6.840091,6.873285,7.013666,6.584208,6.950596
3,4,Émissions de CO2 liées à la combustion de prod...,Pétrole,Mt CO2,France,CVC,Émissions de CO2,NaN,NaN,NaN,...,201.900826,195.816448,196.372646,199.040875,191.355246,191.186965,185.502632,186.178100,160.491828,169.309462
4,5,Émissions de CO2 liées à la combustion d'énerg...,Toutes énergies,Mt CO2,France,CVC,Émissions de CO2,NaN,NaN,NaN,...,344.377688,337.369259,324.851351,326.664062,320.548357,326.631199,315.964972,311.297255,275.888411,287.46755

### Cleaning datas

In [50]:
## Slicing on metropolitan France (more datas)

df_france_raw=df_france_raw[df_france_raw['NIVGEO']=='Métropole']
df_france_raw.shape

(714, 69)

In [51]:
## Dropping years 1960 - 2010 (not enough datas)
df_france_raw.drop(df_france_raw.columns[7:58],axis=1, inplace=True)

In [52]:
## Grouping the source of energy

df_france_clean=df_france_raw.groupby(['TYPFLUX','ENERGIE'], as_index=False).sum()

In [65]:
df_france_clean[(df_france_clean['TYPFLUX']=='Transport') | (df_france_clean['TYPFLUX']== 'Industrie')]

,TYPFLUX,ENERGIE,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
58,Industrie,Chaleur vendue,27.010573,27.652092,27.442906,24.612663,27.240690,32.153787,34.125766,33.485114,36.052926,34.335787
59,Industrie,Charbon,3484.256400,3832.623037,3176.150881,3136.575668,3287.911768,3215.060313,3370.456926,3498.420513,2850.817289,2517.696337
60,Industrie,EnR et déchets,56.318972,58.362710,57.724882,54.616330,58.115608,62.427035,58.173235,63.115410,62.402968,62.612103
61,Industrie,Gaz naturel,593.830060,573.629778,586.579645,563.687545,537.681640,548.448239,518.712854,544.205694,519.321371,497.232753
62,Industrie,Pétrole,9636.899091,9243.813594,8908.116195,8357.045308,7951.884609,7367.899102,7088.513264,7565.697439,7594.271018,6853.904217
63,Industrie,Toutes énergies,684.891131,673.825521,669.418461,649.208870,640.240495,651.733229,630.850453,647.828786,631.448970,596.081462
64,Industrie,Électricité,238.114920,238.062621,234.314234,233.991925,231.047216,234.047049,232.419753,233.067460,230.372218,211.303835
100,Transport,Chaleur vendue,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
101,Transport,Charbon,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
102,Transport,EnR et déchets,84.803898,93.438312,93.758098,103.112018,104.540364,104.332366,109.452404,109.496582,111.564770,92.254056
103,Transport,Gaz naturel,2.184604,2.383851,2.619294,2.805029,2.879465,2.999023,3.592865,4.201334,3.999050,4.745175
104,Transport,Pétrole,309626.226832,316814.326994,307970.435262,301258.640405,285293.495296,278518.782992,294548.444493,312156.911811,312805.538845,244720.906197
105,Transport,Toutes énergies,504.188063,503.105038,499.959327,503.920600,508.773819,509.832392,513.677822,501.902272,500.953134,423.586489
106,Transport,Électricité,21.054924,21.426183,21.664793,21.088983,21.401478,21.038484,21.156624,20.176646,20.159860,16.674398